@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/variables-dark";
$colorFooter:rgb(178,212,148);
$colorOpaco:linear-gradient(0deg, rgba(178,212,148,1) 0%, rgba(29,104,45,1) 81%);
$separacion: 5rem;
/* Footer */
.footer {
  // background-color: $pink-700;

  background-color: $teal-800;
  background-color: $gray-700;
  background-color: $green-800;
  padding-bottom: 3rem;
}

