@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/variables-dark";
$separacion: 5rem;
/* Footer */
.footer {
  background-color: $pink-700;
  padding-bottom: 3rem;
  margin-top: 5rem;
  margin-bottom: calc($separacion - 5rem);
  
}
