@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/variables-dark";

.colorRegistro {
    color: $white;  
}

.border1 {
    background-color: $gray-700;
    background-color: $green-700;
}

.bodyRegistro {
    background-color: $blue-800;
    background-color: $white;
}





