html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
a {
  margin-top: 2.5rem;
  text-decoration: none;
}
p {
  font-size: 1.6rem;
  line-height: 2;
}
.carousel-control-next, 
.carousel-control-prev {
background-color: yellow;
}



