
html {
  box-sizing: border-box;
  font-size: 62.5%;
 
}

*, *:before, *:after {
  box-sizing: inherit;
}

.entrada__contenido p {
  text-align: justify;
  margin-top: 1.5rem;
}
p {
  max-width: 100%;
  font-size: 2rem;
}
article p {
  text-align: justify;
}
.entrada__contenido a {
  margin-top: 2rem;
  text-decoration: none;
}








