.imagen1 {
    background-image: url(/img/Lenguadesuegra.jpg);
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.imagen2 {
    background-image: url(/img/CoralBells.webp);
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.imagen3 {
    background-image: url(/img/HiedradelDiablo.jpg);
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.imagen4 {
    background-image: url(/img/PalmadeMadagascar.webp);
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.imagen5 {
    background-image: url(/img/PlantadeHierro.jpg);
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.imagen6 {
    background-image: url(/img/VerdeparaSiempre.jpg);
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

  




